# Ignore local development configuration files
Gemfile.local
Gemfile.local.lock
_config.local.yml

# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/vendor/bundle
.DS_Store
.jekyll-cache/
*.gem
.DS_Store
node_modules/
vendor/bundle/

