/* Main Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 2rem 0; /* Increase padding to make the header larger */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #00ff00; /* More contrasting color */
  text-decoration: none;
}

header nav ul li a:last-child {
  color: #fff; /* Specific color for the 'Contact' link */
}

.logo-container {
  text-align: center;
  margin-bottom: 1rem;
}

.logo {
  max-width: 211px;
  height: auto;
}

main {
  padding: 2rem;
}

/* Recent Posts Section */
.recent-posts {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.recent-posts h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.recent-posts ul {
  list-style: none;
  padding: 0;
}

.recent-posts ul li {
  margin-bottom: 0.5rem;
}

.recent-posts ul li a {
  color: #007BFF;
  text-decoration: none;
}

.recent-posts ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

